* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 80px;
}

nav > span {
  width: 30%;
  font-size: 2rem;
  margin-left: 2%;
  color:  #FF5100;
  font-weight: bolder;
}

.nav-links-container {
  display: flex;
  list-style: none;
  gap: 5%;
  justify-content: right;
  margin: 2% 4% 2% 0;
  width: 60%;
}

.nav-links > a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.nav-links > a:hover {
 color: #FF5100;
 cursor: pointer;
}

.header-img {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
}

.services-section > h2 {
  font-size: 3.5rem;
  padding: 35px 15px;
  text-align: center;
}

.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.services-image-container {
  width: 30%;
}

.services-image-container > img {
width: 100%;
}

.services-image-container > p {
  font-size: 2rem;
  text-align: center;
  padding-top: 5px;
}

.services-section > h3 {
  font-size: 3rem;
  text-align: end;
  padding: 35px 15px;
}


.about-section {
  display: flex;
  align-items: flex-start;
  margin: 25px 0 50px 0;
}

.about-section-container {
  width: 50%;
}

.about-section > div > h2 {
  font-size: 4rem;
  text-align: center;
  padding: 30px 15px 15px 0;
}

.about-section-container > img {
  width: 100%;
  padding: 15px 15px 15px 7px;
}

.about-section-container.left {
  padding: 15px 8px 30px 15px;
  display: flex;
  flex-direction: column;
}

.about-section-container > p {
  font-size: 2.5rem;
  line-height: 45px;
  padding-top: 25px;
}

.contact-section {
  background-image: url("/images/cover.png");
  margin-top: 20px;
  height: 55vh;
  color: white;
}

.contact-section > h2 {
  font-size: 3.5rem;
  text-align: center;
   color: #FF5100;
   padding: 50px 0 30px 0;
}

.contact-section > p {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 2rem;
  line-height: 25px;
  padding-bottom: 30px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-top: 15px;
}

.contact-info > p {
  font-size: 1.6rem;
  line-height: 25px;
}

.contact-info > p:first-of-type {
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: bolder;
}

footer {
  height: 10vh;
}

footer > p {
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
}